<div class="p-blog-card">
  <a href="<%= link %>" class="p-blog-card__wrapper">
    <figure class="p-blog-card__img">
      <img src="images/blog/<%= img %>" alt="ブログのサムネイル">
    </figure>
    <div class="p-blog-card__content">
      <h2 class="p-blog-card__title">
        <%= title %>
      </h2>
      <p class="p-blog-card__text">
        <%= text %>
      </p>
      <div class="p-blog-card__bottom">
        <span class="p-blog-card__tag">
          <%= tag %>
        </span>
        <time datetime="<%= date %>" class="p-card-blog__date">
          <%= date %>
        </time>
      </div>
    </div>
  </a>
</div>