<div class="p-blog-cards">
  <div class="p-blog-cards__wrapper">
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_1.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_2.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_3.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_4.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_5.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_6.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_7.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_8.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
    <div class="p-blog-cards__item">
      <%- include('./_p-blog-card',{img: 'blog_9.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
    </div>
  </div>
</div>



