<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>


      <% for (var i=0; i < 4; i++) { %>
        <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
        <% } %>


        <div class="c-test">
          <%- include('./parts/_c-section-title',{en:'Content', jp:'事業内容'}) %>

          <div class="p-panels">
            <% for (var i=0; i < 4; i++) { %>
              <%- include('./parts/_p-panel',{link:'./images/common/top_content_1.jpg', text:'経営理念ページへ'}) %>
            <% } %>
          </div>
          
        </div>  

        <%- include('./parts/_c-breadcrumb',{text1: 'お知らせ', link:'', text2:''}) %>
        
        <div class="c-test">
          <%- include('./parts/_c-section-title--reverse',{en:'Works', jp:'制作実績'}) %>


        </div>

        <%- include('./parts/_p-sp-nav') %>


        <%- include('./parts/_p-sort') %>

        <%- include('./parts/_p-works-card',{link:'./images/works/works_1.jpg', label:'カテゴリ１' , text:'CodeUps株式会社'}) %>

        <div class="l-inner">

          <%- include('./parts/_c-label-large',{text:'おすすめ記事'}) %>

          <%- include('./parts/_p-works-textarea',{heading:'制作のポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>

        </div>

        <div class="p-gallery">
          <%- include('./parts/_p-gallery-slider') %>
          <%- include('./parts/_p-gallery-thumbs') %>
        </div>

        <div class="l-page-top-button">
          <%- include('./parts/_c-page-top-button') %>
        </div>
        
    <%- include('./common/_footer') %>

          <%- include('./parts/_p-works-textarea',{heading:'制作のポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>

        </div>

        <div class="p-gallery">
          <%- include('./parts/_p-gallery-slider') %>
          <%- include('./parts/_p-gallery-thumbs') %>
        </div>

        <div class="l-page-top-button">
          <%- include('./parts/_c-page-top-button') %>
        </div>
        
    <%- include('./common/_footer') %>
  </body>
</html>
