<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    
    <div class="p-top-mainvisual js-top-mainvisual">
      <%- include('./parts/_p-mainvisual') %> 
    </div>

    <section class="l-top-news p-top-news">
      <div class="p-top-news__inner l-inner">
        <div class="p-top-news__container">
          <div class="p-top-news__item">
            <%- include('./parts/_p-news-item',{time:'2022.01.18', category:'お知らせ', title:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %> 
          </div>
          <div class="p-top-news__button">
            <%- include('./parts/_c-news-btn',{link:"#", text:'すべて見る'}) %> 
          </div>
        </div>
      </div>
    </section>

    <section class="l-top-content p-top-content">
      <div class="p-top-content__head">
        <%- include('./parts/_c-section-title',{en:'Content', jp:'事業内容'}) %>
      </div>
      <div class="p-top-content__panels">
        <%- include('./parts/_p-panels') %>
      </div>
    </section>

    <section class="l-top-works p-top-works">
      <div class="p-top-works__inner l-inner">
        <div class="p-top-works__head">
          <%- include('./parts/_c-section-title--reverse',{en:'Works', jp:'制作実績'}) %>
        </div>
        <div class="p-top-works__content">
          <div class="p-top-works__image">
            <img src="../images/common/top_works_1.jpg" alt="">
          </div>
          <div class="p-top-works__body">
            <%- include('./parts/_p-section-body',{title:'メインタイトルが入ります。',text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
          </div>
        </div>
      </div>
    </section>

    <section class="l-top-overview p-top-overview">
      <div class="p-top-overview__inner l-inner">
        <div class="p-top-overview__head">
          <%- include('./parts/_c-section-title',{en:'Overview', jp:'企業概要'}) %>
        </div>
        <div class="p-top-overview__content">
          <div class="p-top-overview__image">
            <img src="../images/common/top_overview_1.jpg" alt="">
          </div>
          <div class="p-top-overview__body">
            <%- include('./parts/_p-section-body',{title:'メインタイトルが入ります。',text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
          </div>
        </div>
      </div>
    </section>

    <section class="l-top-blog p-top-blog">
      <div class="p-top-blog__inner l-inner">
        <div class="p-top-blog__head">
          <%- include('./parts/_c-section-title--reverse',{en:'Blog', jp:'ブログ'}) %>
        </div>
        <div class="p-top-blog__cards">
          <%- include('./parts/_p-blog-card',{img: 'blog_9.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
          <%- include('./parts/_p-blog-card',{img: 'blog_1.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
          <%- include('./parts/_p-blog-card',{img: 'blog_2.jpg', link: '#', title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', tag: 'カテゴリ', date: '2021.07.20'}) %>
        </div>
      </div>
    </section>

    <section class="l-top-contact p-top-contact">
      <%- include('./parts/_p-section-contact') %> 
    </section>
    
        <div class="l-scroll-top p-scroll-top js-scroll-top">
          <%- include('./parts/_c-page-top-button') %>
        </div>
        
    <%- include('./common/_footer') %>
  </body>
</html>
